<header background-color=#999999">
 <style type="text/css">
    span {
        background: linear-gradient(transparent 40%, #ffff66 40%);
    }
 </style>
  <h2><i class="fa fa-search fa-3x"></i><%= link_to 'ここから本検索 by Team2', top_path %></h2>

  <span>
    <i class="fa fa-book fa-2x"></i>
    <%= link_to 'Books', '/books' %></span>
  <span>
    <i class="fa fa-info-circle fa-2x"></i>
    <%= link_to 'About page', about_path %></span>
  <span>
    <i class="fa fa-question fa-2x"></i>
    <%= link_to 'Help page', help_path %></span>

</header>
