<header background-color=#999999">
 <style type="text/css">
    span {
        background: linear-gradient(transparent 40%, #ffff66 40%);
    }
 </style>
  <h2>
<%= link_to 'ここから本検索 by Team2', top_path %></h2>

  <span>
<%= link_to 'Books', '/books' %></span>
  <span>
<%= link_to 'About page', about_path %></span>
  <span>
<%= link_to 'Help page', help_path %></span>

</header>
