<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<%= render 'shared/header' %>

    <h1><i class="fa fa-info-circle fa-2x"></i>このappの説明</h1>
    <h3>このアプリで出来ること</h3>
    <p>本の記録・登録が出来ます</p>
    <p>本を登録したあと、showをクリックすると同じ著者の作品が出てきます</P>
    <p>本がaiitの図書館で借りられるかも調べられます</p>
    <p>たくさん本を登録してみましょう！</p>
<p>
<i class="fa fa-home fa-2x"></i>
<%= link_to 'Top page', top_path %>
</p>
</body>
</html>
