<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/eb40ef304c.css">↲
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<%= render 'shared/header' %>

    <h1><i class="fa fa-info-circle fa-2x"></i>このappの説明</h1>
    <p>読書履歴を追加します</p>
<p>
<i class="fa fa-home fa-2x"></i>
<%= link_to 'Top page', top_path %>
</p>
</body>
</html>
