<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel""stylesheet" href="css/styles.css">
</head>
<body>
    <h1>このappの説明</h1>
    <p>読書履歴を追加します</p>
<p>
<%= link_to 'Top page', top_path %>
</p>
</body>
</html>
