<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<%= render 'shared/header' %>
    <h1><i class="fa fa-question fa-2x"></i>このappの使い方</h1>
    <p>booksページで気になる本、読んだ本の作品名と作者名を追加してください</p>
    <p>本が登録されたshowをクリックして同じ著者の他作品を見てみましょう</p>
    <p>気になる本を買うお金が無い場合は図書館で借りられるか見てみましょう！</p>
<p>
<i class="fa fa-home fa-2x"></i><%= link_to 'Top page', top_path %>
</p>
</body>
</html>
