<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<%= render 'shared/header' %>
    <h1><i class="fa fa-question fa-2x"></i>このappのへるぷ</h1>
    <p>読書履歴を追加してください</p>
    <p>作品名と作者名を追加してください</p>
<p>
<i class="fa fa-home fa-2x"></i><%= link_to 'Top page', top_path %>
</p>
</body>
</html>
