<!DOCTYpe html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>本検索</title>
  </head>
  <body>
    <%= render 'shared/header' %>
    <p>本の著作者を登録すると、その著作者に関連する本の情報が一覧表示されます。<br>
      まずは自分が読んだことがある本を登録してみましょう。</p>
  </body>
</html>
