<h2>読書アプリby team_2</h2>
<p>
<%= link_to 'Book page', '/books' %>
</p>
<p>
<%= link_to 'About page', about_path %>
</p>
<p>
<%= link_to 'Help page', help_path %>
</p>

<p>
  <%= link_to '現在の本ランキングを見に行く', 'https://www.amazon.co.jp/gp/bestsellers/books/ref=zg_bs_unv_b_1_3236815051_3/355-7623218-6928255' %>
</p>
