// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// indexページ
table.booklist {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
  background: #f3f6f7;
  width: 70%
}

table.booklist thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #04162e;
}
table.booklist td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}

// showページ
ul {
  margin-top: 0;
  padding-left: 20px;
}

ul li {
  list-style: none;
}

#content {
 width: 70%;
 margin: auto;
}

#detail {
  width: 80%
}

.caption {
  padding: 3px;
}

.info {
  margin: 0px;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px dashed #000000;
}

.info table {
  margin-top: 1em;
  padding: 0.7em;
}

.info th {
  font-size: 0.8em;
}

.info td {
  margin-left: 0;
  font-size: 0.8em;
}

.info .left {
  float: left;
  width: 20%
}

.info .right {
  float: right;
  width: 80%;
}
